Tools/NVP_Layout/Config/Config.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ConfigPath (VirtualDrive,WorkspacePath,DataFile,GenerationScript,ProjectType,TresosIncludeFile,TresosSourceFile) >
<!ELEMENT VirtualDrive (#PCDATA) >
<!ELEMENT WorkspacePath (#PCDATA) >
<!ELEMENT DataFile (#PCDATA) >
<!ELEMENT GenerationScript (#PCDATA) >
<!ELEMENT ProjectType (#PCDATA) >
<!ELEMENT TresosIncludeFile (#PCDATA) >
<!ELEMENT TresosSourceFile (#PCDATA) >
